@import url(https://fonts.googleapis.com/css?family=open+sans+condensed:300);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 400vh;
  background: limegreen;
  overflow: hidden;
}

.wrapper {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 400px;
  margin-left: -200px;
  font: 300 30px/1 'Open Sans Condensed', sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  animation: 240s credits linear infinite;
}

.movie {
  margin-bottom: 50px;
  font-size: 50px;
}

.job {
  margin-bottom: 5px;
  font-size: 18px;
}

.name {
  margin-bottom: 50px;
  font-size: 35px
}

.overname {
  margin-bottom: 10px;
}

.dept {
  margin-bottom: 50px;
  font-size: 18px;
}
@keyframes credits {
    0% { top:  100%; }
  100% { top: -4000%; }
}