@keyframes scaleAnimation {
	from {
		opacity: 0;
		transform: translateY(200px) scale(.2, .2);
	}
	
	to {
		opacity: 1;
		transform: scale(1, 1);
	}
}

body {
	background: limegreen;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

h2 {
	font-size: 100px;
	color: #ff33ff;
	font-family: 'Sigmar One', cursive;
	text-align: center;
	margin: 0px;
	display: block;
	height: 100px;
	line-height: 100px;
	position: absolute;
	width: 100%;
	top: 50%;
	margin-top: -50px;
}

h2 span {
	display: inline-block;
	
	opacity: 0;
	
	animation: scaleAnimation 1s cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards;
}

h2 span:nth-child(1) {
	animation-delay: 200ms;
}

h2 span:nth-child(2) {
	animation-delay: 350ms;
}

h2 span:nth-child(3) {
	animation-delay: 450ms;
}

h2 span:nth-child(4) {
	animation-delay: 550ms;
}

h2 span:nth-child(5) {
	animation-delay: 650ms;
}

h2 span:nth-child(6) {
	animation-delay: 750ms;
}

h2 span:nth-child(7) {
	animation-delay: 850ms;
}

h2 span:nth-child(8) {
	animation-delay: 950ms;
}

h2 span:nth-child(9) {
	animation-delay: 1050ms;
}

h2 span:nth-child(10) {
	animation-delay: 1150ms;
}


h2 span:nth-child(11) {
	animation-delay: 200ms;
}