<div id="rotate-words">  
<div>PRESENTING<br />  <span> </span></div>
<div>The man<br />  <span></span></div>
<div>The Legend<br /><span>He likes pies</span></div>
<div> <br />  <span> </span></div>
<div>Leon<br />  <span></span></div>
<div>L<br />  <span></span></div>
<div>Robinson<br />  <span></span></div>
<div>whoop whoop<br />  <span> </span></div>
</div>



