body,
html {
	margin: 0;
	height: 100%;
	display: grid;
	background-color: rgb(174, 99, 228);
	background-image: url("https://media.giphy.com/media/y2J2hwdC4gS7S/giphy.gif");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	mix-blend-mode: difference;
	overflow: hidden;
}

p {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	color: white;
	font-size: calc(50vw * 0.25);
	margin: auto;
	font-family: "Modak", cursive;
	animation: 3s ease-out 0s infinite normal none running Dance,
		Gradient 15s ease infinite;
}
@keyframes Dance {
	0% {
		box-shadow: -40px -40px 40px black;
		text-shadow: -10px -10px 10px black;
		transform: rotateX(-25deg) rotateY(45deg) scale(2.5);
	}
	25% {
		box-shadow: -40px 40px 40px black;
		text-shadow: -10px 10px 10px black;
		transform: rotateX(25deg) rotateY(45deg) rotateZ(360deg) scale(1);
	}
	50% {
		box-shadow: 40px -40px 40px black;
		text-shadow: 10px -10px 10px black;
		transform: rotateX(-25deg) rotateY(-45deg) scale(1.5) rotateZ(360deg);
	}
	75% {
		box-shadow: 40px 40px 40px black;
		text-shadow: 10px 10px 10px black;
		transform: rotateX(25deg) rotateY(-45deg);
	}
	100% {
		box-shadow: -40px -40px 40px black;
		text-shadow: -10px -10px 10px black;
		transform: rotateX(-25deg) rotateY(45deg) scale(1.5);
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
