body {
  background-color: rgba(0,0,0,0);
}

.animation-container {
  background: DodgerBlue;
  background: radial-gradient(circle, #0077ea, #1f4f96, #1b2949, #000);
  transform: rotateZ(-20deg);
  border-radius: 90px;
}

.container {
  display: flex;
  margin-top: 20pc;
  margin-left: 20pc;
  margin-right: 20pc;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  font-family: "Audiowide", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 72px;
  color: white;
  transform: rotateZ(0deg);
}
.container .angled:nth-child(1) {
  animation: slide 8s infinite linear;
}
.container .angled:nth-child(2) {
  animation: slide 8s infinite linear reverse;
  margin-top: 90px;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  10% {
    opacity: 1;
    transform: translateX(-25%);
  }
  90% {
    opacity: 1;
    transform: translateX(25%);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}
