<!-- Based on https://dribbble.com/shots/2527200-Like-Animation -->
<div class="center">
  <a href="https://dribbble.com/shots/2527200-Like-Animation" target="_blank" class="thumb fa fa-thumbs-up"></a>
  <div class="circle-wrap">
    <div class="circle-lg"></div>
  </div>
  <div class="dots-wrap">
    <div class="dot dot--t"></div>
    <div class="dot dot--tr"></div>
    <div class="dot dot--br"></div>
    <div class="dot dot--b"></div>
    <div class="dot dot--bl"></div>
    <div class="dot dot--tl"></div>
  </div>
</div>