/* The version of Bourbon used in this Pen was 4.* */
@import "bourbon";
/* The version of Neat used in this Pen was 1.8.* */
@import "neat";

// colours
$dark-gray: #898F9C;
$blue: #0084FF;

// general
html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: limegreen;
}

.center {
  @include transform(translateY(-50%));
  @include clearfix();
  max-width: 120px;
  margin: 0 auto;
  top: 50%;
  text-align: center;
  position: relative;
}

// Thumb
.thumb {
  @include animation(scale 1.5s $ease-in-out-cubic);
  @include animation-iteration-count(infinite);
  @include animation-fill-mode(forwards);
  @include animation-delay(2s);
  color: $blue;
  font-size: 96px;
  text-decoration: none;
}

@include keyframes(scale) {
  0% {
    transform: scale(1);
  }
  1% {
    transform: scale(0);
  }
  20% {
    transform: scale(0);
  }
  35% {
    transform: scale(1.4);
  }
  40% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  65% {
    transform: scale(1);
  }
  90% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

// circle
.circle-wrap {
  @include transform(translate(-50%, -50%));
  position: absolute;
  top: 50%;
  left: 50%;
  pointer-events: none;
}
.circle-lg {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border-style: solid;
  border-color: lighten($blue, 30%);
  opacity: 0;
  
  @include animation(scaleCircle 1.5s $ease-in-out-cubic);
  @include animation-iteration-count(infinite);
  @include animation-fill-mode(forwards);
  @include animation-delay(2s);
}

@include keyframes(scaleCircle) {
  0% {
    border-width: 90px;
    transform: scale(0);
  }

  15% {
    border-color: lighten(#f1c40f, 30%);
    border-width: 90px;
  }
  30% {
    border-color: lighten(#2ecc71, 30%);
    opacity: 1;
  }
  35% {
    border-color: lighten($blue, 30%);
  }
  50% {
    border-width: 0;
    transform: scale(1);
    opacity: 0.3;
  }
  100% {
    border-width: 0;
    transform: scale(1);
    opacity: 0;
  }
}

// -
.dots-wrap {
  @include transform(translate(-50%, -50%) rotate(3deg));
  position: absolute;
  top: 50%;
  left: 50%;
  width: 220px;
  height: 220px;
  pointer-events: none;
}
.dot {
  width: 10px;
  height: 10px;
  position: absolute;
  border-radius: 50%;
  background: #00CCFF;
  margin: 0 auto;
  top: 105px;
  left: 0;
  right: 0;
  opacity: 0;
  
  $colors: #0CFBAB #F3396B #08D3FC #FCDB17 #9b59b6 #34495e;
  // Loop colors
  @for $dot from 1 through length($colors) {
    &:nth-child(#{length($colors)}n+#{$dot}) {
      background-color: nth($colors, $dot);
    }
  } 
}

.dot--t {
  @include animation(slideUp 1.5s $ease-in-out-cubic);
  @include animation-iteration-count(infinite);
  @include animation-fill-mode(forwards);
  @include animation-delay(2s);
  @include keyframes(slideUp) {
    0% {
      @include transform(translateY(0) scale(1));
      opacity: 0;
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    
    55% {
      @include transform(translateY(-125px) scale(1));
      opacity: 1;
    }
    100% {
      opacity: 0;
      @include transform(translateY(-125px) scale(0));
    }
  }
}
.dot--tr {
  @include animation(slideUpRight 1.5s $ease-in-out-cubic);
  @include animation-iteration-count(infinite);
  @include animation-fill-mode(forwards);
  @include animation-delay(2s);
  @include keyframes(slideUpRight) {
    0% {
      @include transform(translate(0) scale(1));
      opacity: 0;
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    
    55% {
      @include transform(translate(125px, -80px) scale(1));
      opacity: 1;
    }
    100% {
      opacity: 0;
      @include transform(translate(125px, -80px) scale(0));
    }
  }
}
.dot--br {
  @include animation(slideDownRight 1.5s $ease-in-out-cubic);
  @include animation-iteration-count(infinite);
  @include animation-fill-mode(forwards);
  @include animation-delay(2s);
  @include keyframes(slideDownRight) {
    0% {
      @include transform(translate(0) scale(1));
      opacity: 0;
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    
    55% {
      @include transform(translate(125px, 80px) scale(1));
      opacity: 1;
    }
    100% {
      opacity: 0;
      @include transform(translate(125px, 80px) scale(0));
    }
  }
}
.dot--b {
  @include animation(slideDown 1.5s $ease-in-out-cubic);
  @include animation-iteration-count(infinite);
  @include animation-fill-mode(forwards);
  @include animation-delay(2s);
  @include keyframes(slideDown) {
    0% {
      @include transform(translateY(0) scale(1));
      opacity: 0;
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    
    55% {
      @include transform(translateY(125px) scale(1));
      opacity: 1;
    }
    100% {
      opacity: 0;
      @include transform(translateY(125px) scale(0));
    }
  }
}
.dot--bl {
  @include animation(slideDownLeft 1.5s $ease-in-out-cubic);
  @include animation-iteration-count(infinite);
  @include animation-fill-mode(forwards);
  @include animation-delay(2s);
  @include keyframes(slideDownLeft) {
    0% {
      @include transform(translate(0) scale(1));
      opacity: 0;
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    
    55% {
      @include transform(translate(-125px, 80px) scale(1));
      opacity: 1;
    }
    100% {
      opacity: 0;
      @include transform(translate(-125px, 80px) scale(0));
    }
  }
}
.dot--tl {
  @include animation(slideUpLeft 1.5s $ease-in-out-cubic);
  @include animation-iteration-count(infinite);
  @include animation-fill-mode(forwards);
  @include animation-delay(2s);
  @include keyframes(slideUpLeft) {
    0% {
      @include transform(translate(0) scale(1));
      opacity: 0;
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    
    55% {
      @include transform(translate(-125px, -80px) scale(1));
      opacity: 1;
    }
    100% {
      opacity: 0;
      @include transform(translate(-125px, -80px) scale(0));
    }
  }
}