<section class="container">
  <h1>
    <span class="title">Friday</span>
    <span class="title">Bowtie</span>
    <span class="title">⋈ Day ⋈</span>
  </h1>
  
<span class="button">chees</span>
</section>