html,body
  background-color: rgba(0,0,0,0)
  width: 100%
  height: 90%
  font-family: 'Open Sans', sans-serif
  padding-top: 1%
.container
  width: 540px
  margin: 0 auto
  font-weight: 700
h1
  font-size: 72px
  font-weight: 800
  margin-bottom: 32px
  text-align: center
  border:
    top: 15px solid #000
    bottom: 15px solid #000
ul
  box-shadow: 0 3px 40px rgba(lightgrey,0.16)
  border: 2px solid #000
  >li
    padding: 16px 40px
    display: flex
    justify-content: space-between
    align-items: center
    &+li.day
      border-top: 2px solid #000
    &+li.night
      border-top: 2px solid #fff
h2
  font-size: 36px
  line-height: 49px
  margin-bottom: 1px
span
  line-height: 22px
  font-style: italic
.time
  float: right
  font-size: 72px
.day
  background-color: rgba(#fff,0.5)
  color: #333
.night
  background-color: rgba(0,0,0,0.8)
  color: lightgrey