body
    background-color: limegreen

.container
    display: flex
    margin-top: 20pc
    margin-left: 20pc
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue
    font-family: "Audiowide", sans-serif
    font-weight: bold
    text-transform: uppercase
    font-size: 72px
    color: white
    transform: rotateZ(-20deg)

    .angled
        &:nth-child(1)
            animation: slide 5s infinite linear

        &:nth-child(2)
            animation: slide 5s infinite linear reverse
            margin-top: 90px
@keyframes slide 
    0%
        opacity: 0
        transform: translateX(-100%)
    10%
        opacity: 1
        transform: translateX(-25%)
    90%
        opacity: 1
        transform: translateX(25%)
    100%
        opacity: 0
        transform: translateX(100%)
    
    