body {
  height: 100vh;
  background: rgba(0,0,0,0);
  overflow: hidden;
  filter: drop-shadow(0 0 10px white);
}

.snow {
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
}
.snow:nth-child(1) {
  opacity: 0.5834;
  transform: translate(21.8568vw, -10px) scale(0.3848);
  animation: fall-1 13s -22s linear infinite;
}
@keyframes fall-1 {
  32.515% {
    transform: translate(17.4429vw, 32.515vh) scale(0.3848);
  }
  to {
    transform: translate(19.64985vw, 100vh) scale(0.3848);
  }
}
.snow:nth-child(2) {
  opacity: 0.8951;
  transform: translate(98.4162vw, -10px) scale(0.3416);
  animation: fall-2 24s -10s linear infinite;
}
@keyframes fall-2 {
  70.12% {
    transform: translate(103.0083vw, 70.12vh) scale(0.3416);
  }
  to {
    transform: translate(100.71225vw, 100vh) scale(0.3416);
  }
}
.snow:nth-child(3) {
  opacity: 0.1767;
  transform: translate(4.3077vw, -10px) scale(0.3551);
  animation: fall-3 17s -15s linear infinite;
}
@keyframes fall-3 {
  76.219% {
    transform: translate(12.5915vw, 76.219vh) scale(0.3551);
  }
  to {
    transform: translate(8.4496vw, 100vh) scale(0.3551);
  }
}
.snow:nth-child(4) {
  opacity: 0.141;
  transform: translate(16.353vw, -10px) scale(0.4232);
  animation: fall-4 23s -23s linear infinite;
}
@keyframes fall-4 {
  70.509% {
    transform: translate(8.2663vw, 70.509vh) scale(0.4232);
  }
  to {
    transform: translate(12.30965vw, 100vh) scale(0.4232);
  }
}
.snow:nth-child(5) {
  opacity: 0.0797;
  transform: translate(94.2595vw, -10px) scale(0.709);
  animation: fall-5 15s -9s linear infinite;
}
@keyframes fall-5 {
  72.98% {
    transform: translate(90.3887vw, 72.98vh) scale(0.709);
  }
  to {
    transform: translate(92.3241vw, 100vh) scale(0.709);
  }
}
.snow:nth-child(6) {
  opacity: 0.9975;
  transform: translate(81.7457vw, -10px) scale(0.181);
  animation: fall-6 12s -3s linear infinite;
}
@keyframes fall-6 {
  56.331% {
    transform: translate(75.0555vw, 56.331vh) scale(0.181);
  }
  to {
    transform: translate(78.4006vw, 100vh) scale(0.181);
  }
}
.snow:nth-child(7) {
  opacity: 0.8813;
  transform: translate(89.701vw, -10px) scale(0.8074);
  animation: fall-7 25s -5s linear infinite;
}
@keyframes fall-7 {
  37.257% {
    transform: translate(93.8821vw, 37.257vh) scale(0.8074);
  }
  to {
    transform: translate(91.79155vw, 100vh) scale(0.8074);
  }
}
.snow:nth-child(8) {
  opacity: 0.3958;
  transform: translate(47.4599vw, -10px) scale(0.9561);
  animation: fall-8 15s -15s linear infinite;
}
@keyframes fall-8 {
  79.4% {
    transform: translate(49.487vw, 79.4vh) scale(0.9561);
  }
  to {
    transform: translate(48.47345vw, 100vh) scale(0.9561);
  }
}
.snow:nth-child(9) {
  opacity: 0.8616;
  transform: translate(38.7629vw, -10px) scale(0.9761);
  animation: fall-9 21s -3s linear infinite;
}
@keyframes fall-9 {
  32.707% {
    transform: translate(34.3224vw, 32.707vh) scale(0.9761);
  }
  to {
    transform: translate(36.54265vw, 100vh) scale(0.9761);
  }
}
.snow:nth-child(10) {
  opacity: 0.9023;
  transform: translate(90.6188vw, -10px) scale(0.8626);
  animation: fall-10 30s -1s linear infinite;
}
@keyframes fall-10 {
  77.374% {
    transform: translate(82.0467vw, 77.374vh) scale(0.8626);
  }
  to {
    transform: translate(86.33275vw, 100vh) scale(0.8626);
  }
}
.snow:nth-child(11) {
  opacity: 0.3658;
  transform: translate(92.2195vw, -10px) scale(0.6893);
  animation: fall-11 28s -18s linear infinite;
}
@keyframes fall-11 {
  31.26% {
    transform: translate(100.86vw, 31.26vh) scale(0.6893);
  }
  to {
    transform: translate(96.53975vw, 100vh) scale(0.6893);
  }
}
.snow:nth-child(12) {
  opacity: 0.7975;
  transform: translate(42.0581vw, -10px) scale(0.4826);
  animation: fall-12 13s -4s linear infinite;
}
@keyframes fall-12 {
  72.105% {
    transform: translate(40.518vw, 72.105vh) scale(0.4826);
  }
  to {
    transform: translate(41.28805vw, 100vh) scale(0.4826);
  }
}
.snow:nth-child(13) {
  opacity: 0.1276;
  transform: translate(69.0734vw, -10px) scale(0.2658);
  animation: fall-13 13s -21s linear infinite;
}
@keyframes fall-13 {
  49.009% {
    transform: translate(65.5952vw, 49.009vh) scale(0.2658);
  }
  to {
    transform: translate(67.3343vw, 100vh) scale(0.2658);
  }
}
.snow:nth-child(14) {
  opacity: 0.623;
  transform: translate(1.0305vw, -10px) scale(0.3143);
  animation: fall-14 21s -1s linear infinite;
}
@keyframes fall-14 {
  49.859% {
    transform: translate(0.1463vw, 49.859vh) scale(0.3143);
  }
  to {
    transform: translate(0.5884vw, 100vh) scale(0.3143);
  }
}
.snow:nth-child(15) {
  opacity: 0.0035;
  transform: translate(19.802vw, -10px) scale(0.734);
  animation: fall-15 27s -13s linear infinite;
}
@keyframes fall-15 {
  57.006% {
    transform: translate(13.2853vw, 57.006vh) scale(0.734);
  }
  to {
    transform: translate(16.54365vw, 100vh) scale(0.734);
  }
}
.snow:nth-child(16) {
  opacity: 0.7941;
  transform: translate(43.4143vw, -10px) scale(0.5403);
  animation: fall-16 25s -20s linear infinite;
}
@keyframes fall-16 {
  69.984% {
    transform: translate(43.5202vw, 69.984vh) scale(0.5403);
  }
  to {
    transform: translate(43.46725vw, 100vh) scale(0.5403);
  }
}
.snow:nth-child(17) {
  opacity: 0.7636;
  transform: translate(13.5044vw, -10px) scale(0.9368);
  animation: fall-17 29s -4s linear infinite;
}
@keyframes fall-17 {
  66.066% {
    transform: translate(6.3521vw, 66.066vh) scale(0.9368);
  }
  to {
    transform: translate(9.92825vw, 100vh) scale(0.9368);
  }
}
.snow:nth-child(18) {
  opacity: 0.5311;
  transform: translate(97.0506vw, -10px) scale(0.9821);
  animation: fall-18 29s -30s linear infinite;
}
@keyframes fall-18 {
  61.069% {
    transform: translate(94.7016vw, 61.069vh) scale(0.9821);
  }
  to {
    transform: translate(95.8761vw, 100vh) scale(0.9821);
  }
}
.snow:nth-child(19) {
  opacity: 0.5855;
  transform: translate(35.4481vw, -10px) scale(0.2091);
  animation: fall-19 30s -10s linear infinite;
}
@keyframes fall-19 {
  63.622% {
    transform: translate(40.6508vw, 63.622vh) scale(0.2091);
  }
  to {
    transform: translate(38.04945vw, 100vh) scale(0.2091);
  }
}
.snow:nth-child(20) {
  opacity: 0.8011;
  transform: translate(88.6057vw, -10px) scale(0.3209);
  animation: fall-20 10s -26s linear infinite;
}
@keyframes fall-20 {
  64.083% {
    transform: translate(86.882vw, 64.083vh) scale(0.3209);
  }
  to {
    transform: translate(87.74385vw, 100vh) scale(0.3209);
  }
}
.snow:nth-child(21) {
  opacity: 0.7354;
  transform: translate(86.2759vw, -10px) scale(0.1868);
  animation: fall-21 27s -5s linear infinite;
}
@keyframes fall-21 {
  39.295% {
    transform: translate(93.8989vw, 39.295vh) scale(0.1868);
  }
  to {
    transform: translate(90.0874vw, 100vh) scale(0.1868);
  }
}
.snow:nth-child(22) {
  opacity: 0.4284;
  transform: translate(23.3525vw, -10px) scale(0.0284);
  animation: fall-22 24s -7s linear infinite;
}
@keyframes fall-22 {
  48.031% {
    transform: translate(21.3325vw, 48.031vh) scale(0.0284);
  }
  to {
    transform: translate(22.3425vw, 100vh) scale(0.0284);
  }
}
.snow:nth-child(23) {
  opacity: 0.0692;
  transform: translate(3.9941vw, -10px) scale(0.0514);
  animation: fall-23 24s -2s linear infinite;
}
@keyframes fall-23 {
  57.006% {
    transform: translate(0.8175vw, 57.006vh) scale(0.0514);
  }
  to {
    transform: translate(2.4058vw, 100vh) scale(0.0514);
  }
}
.snow:nth-child(24) {
  opacity: 0.8012;
  transform: translate(96.3313vw, -10px) scale(0.9376);
  animation: fall-24 12s -10s linear infinite;
}
@keyframes fall-24 {
  73.546% {
    transform: translate(96.9633vw, 73.546vh) scale(0.9376);
  }
  to {
    transform: translate(96.6473vw, 100vh) scale(0.9376);
  }
}
.snow:nth-child(25) {
  opacity: 0.9381;
  transform: translate(70.1777vw, -10px) scale(0.7404);
  animation: fall-25 17s -18s linear infinite;
}
@keyframes fall-25 {
  31.494% {
    transform: translate(61.9203vw, 31.494vh) scale(0.7404);
  }
  to {
    transform: translate(66.049vw, 100vh) scale(0.7404);
  }
}
.snow:nth-child(26) {
  opacity: 0.313;
  transform: translate(33.2056vw, -10px) scale(0.4914);
  animation: fall-26 28s -24s linear infinite;
}
@keyframes fall-26 {
  30.34% {
    transform: translate(25.7007vw, 30.34vh) scale(0.4914);
  }
  to {
    transform: translate(29.45315vw, 100vh) scale(0.4914);
  }
}
.snow:nth-child(27) {
  opacity: 0.0767;
  transform: translate(0.8096vw, -10px) scale(0.6496);
  animation: fall-27 17s -2s linear infinite;
}
@keyframes fall-27 {
  57.894% {
    transform: translate(3.2604vw, 57.894vh) scale(0.6496);
  }
  to {
    transform: translate(2.035vw, 100vh) scale(0.6496);
  }
}
.snow:nth-child(28) {
  opacity: 0.3982;
  transform: translate(76.8307vw, -10px) scale(0.7303);
  animation: fall-28 29s -6s linear infinite;
}
@keyframes fall-28 {
  37.851% {
    transform: translate(80.7825vw, 37.851vh) scale(0.7303);
  }
  to {
    transform: translate(78.8066vw, 100vh) scale(0.7303);
  }
}
.snow:nth-child(29) {
  opacity: 0.0412;
  transform: translate(66.6814vw, -10px) scale(0.8459);
  animation: fall-29 15s -28s linear infinite;
}
@keyframes fall-29 {
  67.24% {
    transform: translate(68.3974vw, 67.24vh) scale(0.8459);
  }
  to {
    transform: translate(67.5394vw, 100vh) scale(0.8459);
  }
}
.snow:nth-child(30) {
  opacity: 0.5883;
  transform: translate(40.2306vw, -10px) scale(0.6199);
  animation: fall-30 24s -7s linear infinite;
}
@keyframes fall-30 {
  53.064% {
    transform: translate(42.4787vw, 53.064vh) scale(0.6199);
  }
  to {
    transform: translate(41.35465vw, 100vh) scale(0.6199);
  }
}
.snow:nth-child(31) {
  opacity: 0.6816;
  transform: translate(64.4356vw, -10px) scale(0.1263);
  animation: fall-31 23s -29s linear infinite;
}
@keyframes fall-31 {
  38.143% {
    transform: translate(54.9392vw, 38.143vh) scale(0.1263);
  }
  to {
    transform: translate(59.6874vw, 100vh) scale(0.1263);
  }
}
.snow:nth-child(32) {
  opacity: 0.4987;
  transform: translate(10.5447vw, -10px) scale(0.128);
  animation: fall-32 15s -20s linear infinite;
}
@keyframes fall-32 {
  42.607% {
    transform: translate(15.8535vw, 42.607vh) scale(0.128);
  }
  to {
    transform: translate(13.1991vw, 100vh) scale(0.128);
  }
}
.snow:nth-child(33) {
  opacity: 0.7496;
  transform: translate(94.1685vw, -10px) scale(0.6321);
  animation: fall-33 28s -1s linear infinite;
}
@keyframes fall-33 {
  63.571% {
    transform: translate(100.2993vw, 63.571vh) scale(0.6321);
  }
  to {
    transform: translate(97.2339vw, 100vh) scale(0.6321);
  }
}
.snow:nth-child(34) {
  opacity: 0.0052;
  transform: translate(77.5126vw, -10px) scale(0.9744);
  animation: fall-34 25s -12s linear infinite;
}
@keyframes fall-34 {
  70.475% {
    transform: translate(67.8285vw, 70.475vh) scale(0.9744);
  }
  to {
    transform: translate(72.67055vw, 100vh) scale(0.9744);
  }
}
.snow:nth-child(35) {
  opacity: 0.6402;
  transform: translate(80.0207vw, -10px) scale(0.21);
  animation: fall-35 27s -5s linear infinite;
}
@keyframes fall-35 {
  62.239% {
    transform: translate(74.2864vw, 62.239vh) scale(0.21);
  }
  to {
    transform: translate(77.15355vw, 100vh) scale(0.21);
  }
}
.snow:nth-child(36) {
  opacity: 0.7022;
  transform: translate(75.5565vw, -10px) scale(0.7867);
  animation: fall-36 26s -15s linear infinite;
}
@keyframes fall-36 {
  49.319% {
    transform: translate(82.2723vw, 49.319vh) scale(0.7867);
  }
  to {
    transform: translate(78.9144vw, 100vh) scale(0.7867);
  }
}
.snow:nth-child(37) {
  opacity: 0.3187;
  transform: translate(38.2952vw, -10px) scale(0.4847);
  animation: fall-37 27s -27s linear infinite;
}
@keyframes fall-37 {
  77.414% {
    transform: translate(28.8251vw, 77.414vh) scale(0.4847);
  }
  to {
    transform: translate(33.56015vw, 100vh) scale(0.4847);
  }
}
.snow:nth-child(38) {
  opacity: 0.3877;
  transform: translate(86.0955vw, -10px) scale(0.4991);
  animation: fall-38 13s -25s linear infinite;
}
@keyframes fall-38 {
  76.401% {
    transform: translate(95.1805vw, 76.401vh) scale(0.4991);
  }
  to {
    transform: translate(90.638vw, 100vh) scale(0.4991);
  }
}
.snow:nth-child(39) {
  opacity: 0.622;
  transform: translate(27.3469vw, -10px) scale(0.8644);
  animation: fall-39 18s -1s linear infinite;
}
@keyframes fall-39 {
  46.804% {
    transform: translate(17.8506vw, 46.804vh) scale(0.8644);
  }
  to {
    transform: translate(22.59875vw, 100vh) scale(0.8644);
  }
}
.snow:nth-child(40) {
  opacity: 0.5632;
  transform: translate(70.6148vw, -10px) scale(0.2173);
  animation: fall-40 15s -9s linear infinite;
}
@keyframes fall-40 {
  68.073% {
    transform: translate(79.0904vw, 68.073vh) scale(0.2173);
  }
  to {
    transform: translate(74.8526vw, 100vh) scale(0.2173);
  }
}
.snow:nth-child(41) {
  opacity: 0.1757;
  transform: translate(17.1968vw, -10px) scale(0.2531);
  animation: fall-41 12s -6s linear infinite;
}
@keyframes fall-41 {
  37.808% {
    transform: translate(14.5053vw, 37.808vh) scale(0.2531);
  }
  to {
    transform: translate(15.85105vw, 100vh) scale(0.2531);
  }
}
.snow:nth-child(42) {
  opacity: 0.8461;
  transform: translate(53.4008vw, -10px) scale(0.4731);
  animation: fall-42 15s -11s linear infinite;
}
@keyframes fall-42 {
  32.406% {
    transform: translate(44.0471vw, 32.406vh) scale(0.4731);
  }
  to {
    transform: translate(48.72395vw, 100vh) scale(0.4731);
  }
}
.snow:nth-child(43) {
  opacity: 0.0475;
  transform: translate(77.7935vw, -10px) scale(0.644);
  animation: fall-43 30s -15s linear infinite;
}
@keyframes fall-43 {
  54.519% {
    transform: translate(77.2447vw, 54.519vh) scale(0.644);
  }
  to {
    transform: translate(77.5191vw, 100vh) scale(0.644);
  }
}
.snow:nth-child(44) {
  opacity: 0.5161;
  transform: translate(2.4359vw, -10px) scale(0.4656);
  animation: fall-44 29s -21s linear infinite;
}
@keyframes fall-44 {
  75.941% {
    transform: translate(4.2339vw, 75.941vh) scale(0.4656);
  }
  to {
    transform: translate(3.3349vw, 100vh) scale(0.4656);
  }
}
.snow:nth-child(45) {
  opacity: 0.2311;
  transform: translate(80.0549vw, -10px) scale(0.3786);
  animation: fall-45 23s -12s linear infinite;
}
@keyframes fall-45 {
  65.828% {
    transform: translate(87.8702vw, 65.828vh) scale(0.3786);
  }
  to {
    transform: translate(83.96255vw, 100vh) scale(0.3786);
  }
}
.snow:nth-child(46) {
  opacity: 0.5546;
  transform: translate(68.2908vw, -10px) scale(0.5424);
  animation: fall-46 18s -29s linear infinite;
}
@keyframes fall-46 {
  64.946% {
    transform: translate(73.6807vw, 64.946vh) scale(0.5424);
  }
  to {
    transform: translate(70.98575vw, 100vh) scale(0.5424);
  }
}
.snow:nth-child(47) {
  opacity: 0.1433;
  transform: translate(21.3189vw, -10px) scale(0.2108);
  animation: fall-47 20s -10s linear infinite;
}
@keyframes fall-47 {
  37.366% {
    transform: translate(25.8315vw, 37.366vh) scale(0.2108);
  }
  to {
    transform: translate(23.5752vw, 100vh) scale(0.2108);
  }
}
.snow:nth-child(48) {
  opacity: 0.3589;
  transform: translate(28.9444vw, -10px) scale(0.1678);
  animation: fall-48 19s -14s linear infinite;
}
@keyframes fall-48 {
  43.391% {
    transform: translate(31.8208vw, 43.391vh) scale(0.1678);
  }
  to {
    transform: translate(30.3826vw, 100vh) scale(0.1678);
  }
}
.snow:nth-child(49) {
  opacity: 0.7947;
  transform: translate(31.9802vw, -10px) scale(0.8305);
  animation: fall-49 26s -5s linear infinite;
}
@keyframes fall-49 {
  40.489% {
    transform: translate(26.7606vw, 40.489vh) scale(0.8305);
  }
  to {
    transform: translate(29.3704vw, 100vh) scale(0.8305);
  }
}
.snow:nth-child(50) {
  opacity: 0.5256;
  transform: translate(59.7463vw, -10px) scale(0.3917);
  animation: fall-50 25s -5s linear infinite;
}
@keyframes fall-50 {
  78.801% {
    transform: translate(68.7416vw, 78.801vh) scale(0.3917);
  }
  to {
    transform: translate(64.24395vw, 100vh) scale(0.3917);
  }
}
.snow:nth-child(51) {
  opacity: 0.1677;
  transform: translate(24.7512vw, -10px) scale(0.2686);
  animation: fall-51 10s -8s linear infinite;
}
@keyframes fall-51 {
  68.175% {
    transform: translate(33.9172vw, 68.175vh) scale(0.2686);
  }
  to {
    transform: translate(29.3342vw, 100vh) scale(0.2686);
  }
}
.snow:nth-child(52) {
  opacity: 0.0455;
  transform: translate(90.1099vw, -10px) scale(0.5865);
  animation: fall-52 10s -11s linear infinite;
}
@keyframes fall-52 {
  60.138% {
    transform: translate(85.3412vw, 60.138vh) scale(0.5865);
  }
  to {
    transform: translate(87.72555vw, 100vh) scale(0.5865);
  }
}
.snow:nth-child(53) {
  opacity: 0.8756;
  transform: translate(29.8318vw, -10px) scale(0.8962);
  animation: fall-53 12s -25s linear infinite;
}
@keyframes fall-53 {
  52.751% {
    transform: translate(23.2377vw, 52.751vh) scale(0.8962);
  }
  to {
    transform: translate(26.53475vw, 100vh) scale(0.8962);
  }
}
.snow:nth-child(54) {
  opacity: 0.5061;
  transform: translate(28.9668vw, -10px) scale(0.2124);
  animation: fall-54 11s -5s linear infinite;
}
@keyframes fall-54 {
  50.99% {
    transform: translate(22.9462vw, 50.99vh) scale(0.2124);
  }
  to {
    transform: translate(25.9565vw, 100vh) scale(0.2124);
  }
}
.snow:nth-child(55) {
  opacity: 0.6212;
  transform: translate(90.834vw, -10px) scale(0.9084);
  animation: fall-55 26s -5s linear infinite;
}
@keyframes fall-55 {
  47.904% {
    transform: translate(87.7877vw, 47.904vh) scale(0.9084);
  }
  to {
    transform: translate(89.31085vw, 100vh) scale(0.9084);
  }
}
.snow:nth-child(56) {
  opacity: 0.9992;
  transform: translate(85.9928vw, -10px) scale(0.8286);
  animation: fall-56 24s -1s linear infinite;
}
@keyframes fall-56 {
  46.03% {
    transform: translate(81.593vw, 46.03vh) scale(0.8286);
  }
  to {
    transform: translate(83.7929vw, 100vh) scale(0.8286);
  }
}
.snow:nth-child(57) {
  opacity: 0.969;
  transform: translate(42.6166vw, -10px) scale(0.751);
  animation: fall-57 23s -21s linear infinite;
}
@keyframes fall-57 {
  67.895% {
    transform: translate(35.3507vw, 67.895vh) scale(0.751);
  }
  to {
    transform: translate(38.98365vw, 100vh) scale(0.751);
  }
}
.snow:nth-child(58) {
  opacity: 0.6357;
  transform: translate(20.7214vw, -10px) scale(0.2306);
  animation: fall-58 14s -17s linear infinite;
}
@keyframes fall-58 {
  59.388% {
    transform: translate(28.9882vw, 59.388vh) scale(0.2306);
  }
  to {
    transform: translate(24.8548vw, 100vh) scale(0.2306);
  }
}
.snow:nth-child(59) {
  opacity: 0.8232;
  transform: translate(58.4533vw, -10px) scale(0.3654);
  animation: fall-59 26s -17s linear infinite;
}
@keyframes fall-59 {
  74.939% {
    transform: translate(48.7607vw, 74.939vh) scale(0.3654);
  }
  to {
    transform: translate(53.607vw, 100vh) scale(0.3654);
  }
}
.snow:nth-child(60) {
  opacity: 0.642;
  transform: translate(47.0192vw, -10px) scale(0.103);
  animation: fall-60 25s -28s linear infinite;
}
@keyframes fall-60 {
  30.073% {
    transform: translate(37.276vw, 30.073vh) scale(0.103);
  }
  to {
    transform: translate(42.1476vw, 100vh) scale(0.103);
  }
}
.snow:nth-child(61) {
  opacity: 0.2329;
  transform: translate(4.0976vw, -10px) scale(0.0559);
  animation: fall-61 15s -3s linear infinite;
}
@keyframes fall-61 {
  40.302% {
    transform: translate(1.1746vw, 40.302vh) scale(0.0559);
  }
  to {
    transform: translate(2.6361vw, 100vh) scale(0.0559);
  }
}
.snow:nth-child(62) {
  opacity: 0.8876;
  transform: translate(25.4107vw, -10px) scale(0.2584);
  animation: fall-62 18s -17s linear infinite;
}
@keyframes fall-62 {
  39.456% {
    transform: translate(31.7464vw, 39.456vh) scale(0.2584);
  }
  to {
    transform: translate(28.57855vw, 100vh) scale(0.2584);
  }
}
.snow:nth-child(63) {
  opacity: 0.2198;
  transform: translate(73.0902vw, -10px) scale(0.3922);
  animation: fall-63 26s -9s linear infinite;
}
@keyframes fall-63 {
  60.36% {
    transform: translate(65.2633vw, 60.36vh) scale(0.3922);
  }
  to {
    transform: translate(69.17675vw, 100vh) scale(0.3922);
  }
}
.snow:nth-child(64) {
  opacity: 0.6404;
  transform: translate(89.9416vw, -10px) scale(0.8956);
  animation: fall-64 27s -20s linear infinite;
}
@keyframes fall-64 {
  67.863% {
    transform: translate(82.0098vw, 67.863vh) scale(0.8956);
  }
  to {
    transform: translate(85.9757vw, 100vh) scale(0.8956);
  }
}
.snow:nth-child(65) {
  opacity: 0.5349;
  transform: translate(46.2252vw, -10px) scale(0.9833);
  animation: fall-65 19s -13s linear infinite;
}
@keyframes fall-65 {
  45.096% {
    transform: translate(51.3832vw, 45.096vh) scale(0.9833);
  }
  to {
    transform: translate(48.8042vw, 100vh) scale(0.9833);
  }
}
.snow:nth-child(66) {
  opacity: 0.3216;
  transform: translate(77.46vw, -10px) scale(0.5793);
  animation: fall-66 22s -13s linear infinite;
}
@keyframes fall-66 {
  32.368% {
    transform: translate(74.4068vw, 32.368vh) scale(0.5793);
  }
  to {
    transform: translate(75.9334vw, 100vh) scale(0.5793);
  }
}
.snow:nth-child(67) {
  opacity: 0.9435;
  transform: translate(50.3434vw, -10px) scale(0.7049);
  animation: fall-67 13s -7s linear infinite;
}
@keyframes fall-67 {
  79.838% {
    transform: translate(51.5837vw, 79.838vh) scale(0.7049);
  }
  to {
    transform: translate(50.96355vw, 100vh) scale(0.7049);
  }
}
.snow:nth-child(68) {
  opacity: 0.7009;
  transform: translate(27.6831vw, -10px) scale(0.4855);
  animation: fall-68 10s -14s linear infinite;
}
@keyframes fall-68 {
  56.714% {
    transform: translate(17.8436vw, 56.714vh) scale(0.4855);
  }
  to {
    transform: translate(22.76335vw, 100vh) scale(0.4855);
  }
}
.snow:nth-child(69) {
  opacity: 0.3577;
  transform: translate(84.3352vw, -10px) scale(0.7784);
  animation: fall-69 25s -29s linear infinite;
}
@keyframes fall-69 {
  51.427% {
    transform: translate(83.4164vw, 51.427vh) scale(0.7784);
  }
  to {
    transform: translate(83.8758vw, 100vh) scale(0.7784);
  }
}
.snow:nth-child(70) {
  opacity: 0.655;
  transform: translate(85.3252vw, -10px) scale(0.9811);
  animation: fall-70 26s -1s linear infinite;
}
@keyframes fall-70 {
  75.452% {
    transform: translate(91.6305vw, 75.452vh) scale(0.9811);
  }
  to {
    transform: translate(88.47785vw, 100vh) scale(0.9811);
  }
}
.snow:nth-child(71) {
  opacity: 0.6868;
  transform: translate(76.5204vw, -10px) scale(0.7607);
  animation: fall-71 27s -6s linear infinite;
}
@keyframes fall-71 {
  74.068% {
    transform: translate(80.9484vw, 74.068vh) scale(0.7607);
  }
  to {
    transform: translate(78.7344vw, 100vh) scale(0.7607);
  }
}
.snow:nth-child(72) {
  opacity: 0.8532;
  transform: translate(25.0842vw, -10px) scale(0.5431);
  animation: fall-72 20s -3s linear infinite;
}
@keyframes fall-72 {
  68.709% {
    transform: translate(26.9201vw, 68.709vh) scale(0.5431);
  }
  to {
    transform: translate(26.00215vw, 100vh) scale(0.5431);
  }
}
.snow:nth-child(73) {
  opacity: 0.7174;
  transform: translate(5.2354vw, -10px) scale(0.7824);
  animation: fall-73 15s -25s linear infinite;
}
@keyframes fall-73 {
  78.612% {
    transform: translate(13.7581vw, 78.612vh) scale(0.7824);
  }
  to {
    transform: translate(9.49675vw, 100vh) scale(0.7824);
  }
}
.snow:nth-child(74) {
  opacity: 0.2524;
  transform: translate(30.4252vw, -10px) scale(0.877);
  animation: fall-74 30s -2s linear infinite;
}
@keyframes fall-74 {
  53.911% {
    transform: translate(23.7655vw, 53.911vh) scale(0.877);
  }
  to {
    transform: translate(27.09535vw, 100vh) scale(0.877);
  }
}
.snow:nth-child(75) {
  opacity: 0.213;
  transform: translate(16.8729vw, -10px) scale(0.6327);
  animation: fall-75 25s -22s linear infinite;
}
@keyframes fall-75 {
  79.515% {
    transform: translate(17.4778vw, 79.515vh) scale(0.6327);
  }
  to {
    transform: translate(17.17535vw, 100vh) scale(0.6327);
  }
}
.snow:nth-child(76) {
  opacity: 0.8073;
  transform: translate(20.0514vw, -10px) scale(0.4658);
  animation: fall-76 10s -11s linear infinite;
}
@keyframes fall-76 {
  44.346% {
    transform: translate(19.1166vw, 44.346vh) scale(0.4658);
  }
  to {
    transform: translate(19.584vw, 100vh) scale(0.4658);
  }
}
.snow:nth-child(77) {
  opacity: 0.8873;
  transform: translate(87.6851vw, -10px) scale(0.2161);
  animation: fall-77 19s -22s linear infinite;
}
@keyframes fall-77 {
  79.44% {
    transform: translate(84.6818vw, 79.44vh) scale(0.2161);
  }
  to {
    transform: translate(86.18345vw, 100vh) scale(0.2161);
  }
}
.snow:nth-child(78) {
  opacity: 0.3444;
  transform: translate(78.3599vw, -10px) scale(0.1704);
  animation: fall-78 15s -30s linear infinite;
}
@keyframes fall-78 {
  32.549% {
    transform: translate(86.1838vw, 32.549vh) scale(0.1704);
  }
  to {
    transform: translate(82.27185vw, 100vh) scale(0.1704);
  }
}
.snow:nth-child(79) {
  opacity: 0.4054;
  transform: translate(24.7395vw, -10px) scale(0.4024);
  animation: fall-79 25s -19s linear infinite;
}
@keyframes fall-79 {
  68.747% {
    transform: translate(32.4086vw, 68.747vh) scale(0.4024);
  }
  to {
    transform: translate(28.57405vw, 100vh) scale(0.4024);
  }
}
.snow:nth-child(80) {
  opacity: 0.4301;
  transform: translate(64.9926vw, -10px) scale(0.1771);
  animation: fall-80 20s -21s linear infinite;
}
@keyframes fall-80 {
  67.188% {
    transform: translate(71.9379vw, 67.188vh) scale(0.1771);
  }
  to {
    transform: translate(68.46525vw, 100vh) scale(0.1771);
  }
}
.snow:nth-child(81) {
  opacity: 0.74;
  transform: translate(38.2805vw, -10px) scale(0.1209);
  animation: fall-81 23s -26s linear infinite;
}
@keyframes fall-81 {
  50.146% {
    transform: translate(45.5064vw, 50.146vh) scale(0.1209);
  }
  to {
    transform: translate(41.89345vw, 100vh) scale(0.1209);
  }
}
.snow:nth-child(82) {
  opacity: 0.1787;
  transform: translate(32.3733vw, -10px) scale(0.7916);
  animation: fall-82 15s -7s linear infinite;
}
@keyframes fall-82 {
  79.062% {
    transform: translate(23.4929vw, 79.062vh) scale(0.7916);
  }
  to {
    transform: translate(27.9331vw, 100vh) scale(0.7916);
  }
}
.snow:nth-child(83) {
  opacity: 0.3572;
  transform: translate(44.2015vw, -10px) scale(0.9992);
  animation: fall-83 16s -5s linear infinite;
}
@keyframes fall-83 {
  72.018% {
    transform: translate(47.6223vw, 72.018vh) scale(0.9992);
  }
  to {
    transform: translate(45.9119vw, 100vh) scale(0.9992);
  }
}
.snow:nth-child(84) {
  opacity: 0.8709;
  transform: translate(15.9563vw, -10px) scale(0.6159);
  animation: fall-84 20s -6s linear infinite;
}
@keyframes fall-84 {
  54.479% {
    transform: translate(16.0847vw, 54.479vh) scale(0.6159);
  }
  to {
    transform: translate(16.0205vw, 100vh) scale(0.6159);
  }
}
.snow:nth-child(85) {
  opacity: 0.349;
  transform: translate(76.4478vw, -10px) scale(0.0432);
  animation: fall-85 16s -11s linear infinite;
}
@keyframes fall-85 {
  54.004% {
    transform: translate(77.1312vw, 54.004vh) scale(0.0432);
  }
  to {
    transform: translate(76.7895vw, 100vh) scale(0.0432);
  }
}
.snow:nth-child(86) {
  opacity: 0.3324;
  transform: translate(88.2319vw, -10px) scale(0.1098);
  animation: fall-86 15s -4s linear infinite;
}
@keyframes fall-86 {
  64.498% {
    transform: translate(81.4896vw, 64.498vh) scale(0.1098);
  }
  to {
    transform: translate(84.86075vw, 100vh) scale(0.1098);
  }
}
.snow:nth-child(87) {
  opacity: 0.0134;
  transform: translate(24.5205vw, -10px) scale(0.1708);
  animation: fall-87 26s -20s linear infinite;
}
@keyframes fall-87 {
  75.474% {
    transform: translate(33.2513vw, 75.474vh) scale(0.1708);
  }
  to {
    transform: translate(28.8859vw, 100vh) scale(0.1708);
  }
}
.snow:nth-child(88) {
  opacity: 0.3034;
  transform: translate(35.6071vw, -10px) scale(0.1439);
  animation: fall-88 19s -20s linear infinite;
}
@keyframes fall-88 {
  73.09% {
    transform: translate(34.9808vw, 73.09vh) scale(0.1439);
  }
  to {
    transform: translate(35.29395vw, 100vh) scale(0.1439);
  }
}
.snow:nth-child(89) {
  opacity: 0.9994;
  transform: translate(28.8493vw, -10px) scale(0.8391);
  animation: fall-89 11s -4s linear infinite;
}
@keyframes fall-89 {
  74.296% {
    transform: translate(34.9687vw, 74.296vh) scale(0.8391);
  }
  to {
    transform: translate(31.909vw, 100vh) scale(0.8391);
  }
}
.snow:nth-child(90) {
  opacity: 0.2098;
  transform: translate(83.2084vw, -10px) scale(0.9058);
  animation: fall-90 23s -8s linear infinite;
}
@keyframes fall-90 {
  45.697% {
    transform: translate(81.2798vw, 45.697vh) scale(0.9058);
  }
  to {
    transform: translate(82.2441vw, 100vh) scale(0.9058);
  }
}
.snow:nth-child(91) {
  opacity: 0.4352;
  transform: translate(96.3291vw, -10px) scale(0.9105);
  animation: fall-91 25s -20s linear infinite;
}
@keyframes fall-91 {
  77.725% {
    transform: translate(93.0147vw, 77.725vh) scale(0.9105);
  }
  to {
    transform: translate(94.6719vw, 100vh) scale(0.9105);
  }
}
.snow:nth-child(92) {
  opacity: 0.1018;
  transform: translate(41.9109vw, -10px) scale(0.0366);
  animation: fall-92 11s -1s linear infinite;
}
@keyframes fall-92 {
  32.754% {
    transform: translate(34.2324vw, 32.754vh) scale(0.0366);
  }
  to {
    transform: translate(38.07165vw, 100vh) scale(0.0366);
  }
}
.snow:nth-child(93) {
  opacity: 0.6941;
  transform: translate(73.57vw, -10px) scale(0.2944);
  animation: fall-93 17s -26s linear infinite;
}
@keyframes fall-93 {
  52.68% {
    transform: translate(72.7294vw, 52.68vh) scale(0.2944);
  }
  to {
    transform: translate(73.1497vw, 100vh) scale(0.2944);
  }
}
.snow:nth-child(94) {
  opacity: 0.5574;
  transform: translate(57.0325vw, -10px) scale(0.1188);
  animation: fall-94 17s -9s linear infinite;
}
@keyframes fall-94 {
  52.252% {
    transform: translate(61.5359vw, 52.252vh) scale(0.1188);
  }
  to {
    transform: translate(59.2842vw, 100vh) scale(0.1188);
  }
}
.snow:nth-child(95) {
  opacity: 0.8783;
  transform: translate(76.6267vw, -10px) scale(0.786);
  animation: fall-95 11s -1s linear infinite;
}
@keyframes fall-95 {
  49.447% {
    transform: translate(71.5753vw, 49.447vh) scale(0.786);
  }
  to {
    transform: translate(74.101vw, 100vh) scale(0.786);
  }
}
.snow:nth-child(96) {
  opacity: 0.9275;
  transform: translate(97.8218vw, -10px) scale(0.3352);
  animation: fall-96 19s -12s linear infinite;
}
@keyframes fall-96 {
  71.718% {
    transform: translate(98.0622vw, 71.718vh) scale(0.3352);
  }
  to {
    transform: translate(97.942vw, 100vh) scale(0.3352);
  }
}
.snow:nth-child(97) {
  opacity: 0.9405;
  transform: translate(30.517vw, -10px) scale(0.5891);
  animation: fall-97 14s -25s linear infinite;
}
@keyframes fall-97 {
  67.791% {
    transform: translate(29.5051vw, 67.791vh) scale(0.5891);
  }
  to {
    transform: translate(30.01105vw, 100vh) scale(0.5891);
  }
}
.snow:nth-child(98) {
  opacity: 0.4725;
  transform: translate(81.2038vw, -10px) scale(0.4466);
  animation: fall-98 15s -16s linear infinite;
}
@keyframes fall-98 {
  79.31% {
    transform: translate(77.8681vw, 79.31vh) scale(0.4466);
  }
  to {
    transform: translate(79.53595vw, 100vh) scale(0.4466);
  }
}
.snow:nth-child(99) {
  opacity: 0.365;
  transform: translate(9.0487vw, -10px) scale(0.5488);
  animation: fall-99 19s -3s linear infinite;
}
@keyframes fall-99 {
  34.585% {
    transform: translate(-0.0355vw, 34.585vh) scale(0.5488);
  }
  to {
    transform: translate(4.5066vw, 100vh) scale(0.5488);
  }
}
.snow:nth-child(100) {
  opacity: 0.9373;
  transform: translate(31.4562vw, -10px) scale(0.6896);
  animation: fall-100 27s -29s linear infinite;
}
@keyframes fall-100 {
  78.71% {
    transform: translate(30.5763vw, 78.71vh) scale(0.6896);
  }
  to {
    transform: translate(31.01625vw, 100vh) scale(0.6896);
  }
}
.snow:nth-child(101) {
  opacity: 0.9957;
  transform: translate(89.652vw, -10px) scale(0.7701);
  animation: fall-101 28s -1s linear infinite;
}
@keyframes fall-101 {
  52.977% {
    transform: translate(94.4729vw, 52.977vh) scale(0.7701);
  }
  to {
    transform: translate(92.06245vw, 100vh) scale(0.7701);
  }
}
.snow:nth-child(102) {
  opacity: 0.0651;
  transform: translate(48.3623vw, -10px) scale(0.8733);
  animation: fall-102 28s -20s linear infinite;
}
@keyframes fall-102 {
  49.898% {
    transform: translate(43.2764vw, 49.898vh) scale(0.8733);
  }
  to {
    transform: translate(45.81935vw, 100vh) scale(0.8733);
  }
}
.snow:nth-child(103) {
  opacity: 0.9649;
  transform: translate(88.1005vw, -10px) scale(0.6824);
  animation: fall-103 28s -3s linear infinite;
}
@keyframes fall-103 {
  45.738% {
    transform: translate(94.117vw, 45.738vh) scale(0.6824);
  }
  to {
    transform: translate(91.10875vw, 100vh) scale(0.6824);
  }
}
.snow:nth-child(104) {
  opacity: 0.3787;
  transform: translate(26.4518vw, -10px) scale(0.0252);
  animation: fall-104 24s -1s linear infinite;
}
@keyframes fall-104 {
  57.717% {
    transform: translate(27.939vw, 57.717vh) scale(0.0252);
  }
  to {
    transform: translate(27.1954vw, 100vh) scale(0.0252);
  }
}
.snow:nth-child(105) {
  opacity: 0.5558;
  transform: translate(34.7993vw, -10px) scale(0.0073);
  animation: fall-105 12s -9s linear infinite;
}
@keyframes fall-105 {
  58.52% {
    transform: translate(39.3168vw, 58.52vh) scale(0.0073);
  }
  to {
    transform: translate(37.05805vw, 100vh) scale(0.0073);
  }
}
.snow:nth-child(106) {
  opacity: 0.9281;
  transform: translate(45.347vw, -10px) scale(0.8503);
  animation: fall-106 19s -16s linear infinite;
}
@keyframes fall-106 {
  67.797% {
    transform: translate(50.3691vw, 67.797vh) scale(0.8503);
  }
  to {
    transform: translate(47.85805vw, 100vh) scale(0.8503);
  }
}
.snow:nth-child(107) {
  opacity: 0.6679;
  transform: translate(42.3171vw, -10px) scale(0.3029);
  animation: fall-107 11s -24s linear infinite;
}
@keyframes fall-107 {
  73.041% {
    transform: translate(40.3114vw, 73.041vh) scale(0.3029);
  }
  to {
    transform: translate(41.31425vw, 100vh) scale(0.3029);
  }
}
.snow:nth-child(108) {
  opacity: 0.9378;
  transform: translate(60.1623vw, -10px) scale(0.0473);
  animation: fall-108 11s -12s linear infinite;
}
@keyframes fall-108 {
  34.061% {
    transform: translate(56.6919vw, 34.061vh) scale(0.0473);
  }
  to {
    transform: translate(58.4271vw, 100vh) scale(0.0473);
  }
}
.snow:nth-child(109) {
  opacity: 0.1159;
  transform: translate(77.8809vw, -10px) scale(0.8658);
  animation: fall-109 12s -22s linear infinite;
}
@keyframes fall-109 {
  55.241% {
    transform: translate(83.9131vw, 55.241vh) scale(0.8658);
  }
  to {
    transform: translate(80.897vw, 100vh) scale(0.8658);
  }
}
.snow:nth-child(110) {
  opacity: 0.5306;
  transform: translate(89.3329vw, -10px) scale(0.0009);
  animation: fall-110 10s -29s linear infinite;
}
@keyframes fall-110 {
  59.147% {
    transform: translate(92.7446vw, 59.147vh) scale(0.0009);
  }
  to {
    transform: translate(91.03875vw, 100vh) scale(0.0009);
  }
}
.snow:nth-child(111) {
  opacity: 0.4294;
  transform: translate(35.6063vw, -10px) scale(0.9608);
  animation: fall-111 14s -22s linear infinite;
}
@keyframes fall-111 {
  46.616% {
    transform: translate(39.0408vw, 46.616vh) scale(0.9608);
  }
  to {
    transform: translate(37.32355vw, 100vh) scale(0.9608);
  }
}
.snow:nth-child(112) {
  opacity: 0.9372;
  transform: translate(28.2498vw, -10px) scale(0.1951);
  animation: fall-112 18s -22s linear infinite;
}
@keyframes fall-112 {
  42.423% {
    transform: translate(30.5586vw, 42.423vh) scale(0.1951);
  }
  to {
    transform: translate(29.4042vw, 100vh) scale(0.1951);
  }
}
.snow:nth-child(113) {
  opacity: 0.7193;
  transform: translate(54.5613vw, -10px) scale(0.8562);
  animation: fall-113 24s -27s linear infinite;
}
@keyframes fall-113 {
  33.502% {
    transform: translate(47.091vw, 33.502vh) scale(0.8562);
  }
  to {
    transform: translate(50.82615vw, 100vh) scale(0.8562);
  }
}
.snow:nth-child(114) {
  opacity: 0.5563;
  transform: translate(72.6951vw, -10px) scale(0.6728);
  animation: fall-114 12s -7s linear infinite;
}
@keyframes fall-114 {
  30.479% {
    transform: translate(79.826vw, 30.479vh) scale(0.6728);
  }
  to {
    transform: translate(76.26055vw, 100vh) scale(0.6728);
  }
}
.snow:nth-child(115) {
  opacity: 0.1206;
  transform: translate(49.6565vw, -10px) scale(0.2532);
  animation: fall-115 21s -14s linear infinite;
}
@keyframes fall-115 {
  47.244% {
    transform: translate(47.4669vw, 47.244vh) scale(0.2532);
  }
  to {
    transform: translate(48.5617vw, 100vh) scale(0.2532);
  }
}
.snow:nth-child(116) {
  opacity: 0.4752;
  transform: translate(89.9925vw, -10px) scale(0.7852);
  animation: fall-116 23s -20s linear infinite;
}
@keyframes fall-116 {
  50.032% {
    transform: translate(87.6669vw, 50.032vh) scale(0.7852);
  }
  to {
    transform: translate(88.8297vw, 100vh) scale(0.7852);
  }
}
.snow:nth-child(117) {
  opacity: 0.6341;
  transform: translate(9.7096vw, -10px) scale(0.4567);
  animation: fall-117 17s -5s linear infinite;
}
@keyframes fall-117 {
  36.987% {
    transform: translate(0.6109vw, 36.987vh) scale(0.4567);
  }
  to {
    transform: translate(5.16025vw, 100vh) scale(0.4567);
  }
}
.snow:nth-child(118) {
  opacity: 0.2886;
  transform: translate(87.2919vw, -10px) scale(0.6327);
  animation: fall-118 24s -5s linear infinite;
}
@keyframes fall-118 {
  64.408% {
    transform: translate(81.1985vw, 64.408vh) scale(0.6327);
  }
  to {
    transform: translate(84.2452vw, 100vh) scale(0.6327);
  }
}
.snow:nth-child(119) {
  opacity: 0.6696;
  transform: translate(86.3078vw, -10px) scale(0.4043);
  animation: fall-119 19s -29s linear infinite;
}
@keyframes fall-119 {
  59.067% {
    transform: translate(80.2529vw, 59.067vh) scale(0.4043);
  }
  to {
    transform: translate(83.28035vw, 100vh) scale(0.4043);
  }
}
.snow:nth-child(120) {
  opacity: 0.9655;
  transform: translate(35.7097vw, -10px) scale(0.0206);
  animation: fall-120 25s -3s linear infinite;
}
@keyframes fall-120 {
  46.216% {
    transform: translate(25.9705vw, 46.216vh) scale(0.0206);
  }
  to {
    transform: translate(30.8401vw, 100vh) scale(0.0206);
  }
}
.snow:nth-child(121) {
  opacity: 0.1343;
  transform: translate(10.8046vw, -10px) scale(0.6111);
  animation: fall-121 21s -4s linear infinite;
}
@keyframes fall-121 {
  44.681% {
    transform: translate(2.8926vw, 44.681vh) scale(0.6111);
  }
  to {
    transform: translate(6.8486vw, 100vh) scale(0.6111);
  }
}
.snow:nth-child(122) {
  opacity: 0.1574;
  transform: translate(65.0128vw, -10px) scale(0.5668);
  animation: fall-122 26s -19s linear infinite;
}
@keyframes fall-122 {
  56.631% {
    transform: translate(59.2229vw, 56.631vh) scale(0.5668);
  }
  to {
    transform: translate(62.11785vw, 100vh) scale(0.5668);
  }
}
.snow:nth-child(123) {
  opacity: 0.9077;
  transform: translate(59.4079vw, -10px) scale(0.5985);
  animation: fall-123 29s -14s linear infinite;
}
@keyframes fall-123 {
  61.673% {
    transform: translate(62.4501vw, 61.673vh) scale(0.5985);
  }
  to {
    transform: translate(60.929vw, 100vh) scale(0.5985);
  }
}
.snow:nth-child(124) {
  opacity: 0.5481;
  transform: translate(83.5344vw, -10px) scale(0.1773);
  animation: fall-124 30s -1s linear infinite;
}
@keyframes fall-124 {
  65.287% {
    transform: translate(89.3779vw, 65.287vh) scale(0.1773);
  }
  to {
    transform: translate(86.45615vw, 100vh) scale(0.1773);
  }
}
.snow:nth-child(125) {
  opacity: 0.6378;
  transform: translate(48.4392vw, -10px) scale(0.9546);
  animation: fall-125 21s -2s linear infinite;
}
@keyframes fall-125 {
  32.508% {
    transform: translate(53.037vw, 32.508vh) scale(0.9546);
  }
  to {
    transform: translate(50.7381vw, 100vh) scale(0.9546);
  }
}
.snow:nth-child(126) {
  opacity: 0.9489;
  transform: translate(98.0582vw, -10px) scale(0.9867);
  animation: fall-126 15s -26s linear infinite;
}
@keyframes fall-126 {
  66.051% {
    transform: translate(103.9472vw, 66.051vh) scale(0.9867);
  }
  to {
    transform: translate(101.0027vw, 100vh) scale(0.9867);
  }
}
.snow:nth-child(127) {
  opacity: 0.376;
  transform: translate(41.0182vw, -10px) scale(0.2499);
  animation: fall-127 13s -29s linear infinite;
}
@keyframes fall-127 {
  66.671% {
    transform: translate(36.9721vw, 66.671vh) scale(0.2499);
  }
  to {
    transform: translate(38.99515vw, 100vh) scale(0.2499);
  }
}
.snow:nth-child(128) {
  opacity: 0.7714;
  transform: translate(34.6478vw, -10px) scale(0.2394);
  animation: fall-128 16s -24s linear infinite;
}
@keyframes fall-128 {
  43.794% {
    transform: translate(44.6038vw, 43.794vh) scale(0.2394);
  }
  to {
    transform: translate(39.6258vw, 100vh) scale(0.2394);
  }
}
.snow:nth-child(129) {
  opacity: 0.6448;
  transform: translate(94.7173vw, -10px) scale(0.2192);
  animation: fall-129 21s -2s linear infinite;
}
@keyframes fall-129 {
  66.622% {
    transform: translate(96.4569vw, 66.622vh) scale(0.2192);
  }
  to {
    transform: translate(95.5871vw, 100vh) scale(0.2192);
  }
}
.snow:nth-child(130) {
  opacity: 0.8468;
  transform: translate(2.8406vw, -10px) scale(0.2574);
  animation: fall-130 19s -28s linear infinite;
}
@keyframes fall-130 {
  58.362% {
    transform: translate(-1.8462vw, 58.362vh) scale(0.2574);
  }
  to {
    transform: translate(0.4972vw, 100vh) scale(0.2574);
  }
}
.snow:nth-child(131) {
  opacity: 0.8402;
  transform: translate(65.7029vw, -10px) scale(0.7671);
  animation: fall-131 21s -7s linear infinite;
}
@keyframes fall-131 {
  52.227% {
    transform: translate(66.2536vw, 52.227vh) scale(0.7671);
  }
  to {
    transform: translate(65.97825vw, 100vh) scale(0.7671);
  }
}
.snow:nth-child(132) {
  opacity: 0.0216;
  transform: translate(76.3792vw, -10px) scale(0.4715);
  animation: fall-132 21s -15s linear infinite;
}
@keyframes fall-132 {
  48.525% {
    transform: translate(78.0963vw, 48.525vh) scale(0.4715);
  }
  to {
    transform: translate(77.23775vw, 100vh) scale(0.4715);
  }
}
.snow:nth-child(133) {
  opacity: 0.4039;
  transform: translate(83.0746vw, -10px) scale(0.1259);
  animation: fall-133 22s -28s linear infinite;
}
@keyframes fall-133 {
  32.336% {
    transform: translate(92.5448vw, 32.336vh) scale(0.1259);
  }
  to {
    transform: translate(87.8097vw, 100vh) scale(0.1259);
  }
}
.snow:nth-child(134) {
  opacity: 0.1275;
  transform: translate(47.2418vw, -10px) scale(0.6544);
  animation: fall-134 25s -20s linear infinite;
}
@keyframes fall-134 {
  69.278% {
    transform: translate(50.8375vw, 69.278vh) scale(0.6544);
  }
  to {
    transform: translate(49.03965vw, 100vh) scale(0.6544);
  }
}
.snow:nth-child(135) {
  opacity: 0.2306;
  transform: translate(21.9587vw, -10px) scale(0.2144);
  animation: fall-135 17s -19s linear infinite;
}
@keyframes fall-135 {
  49.462% {
    transform: translate(17.6353vw, 49.462vh) scale(0.2144);
  }
  to {
    transform: translate(19.797vw, 100vh) scale(0.2144);
  }
}
.snow:nth-child(136) {
  opacity: 0.7661;
  transform: translate(79.4512vw, -10px) scale(0.5319);
  animation: fall-136 29s -29s linear infinite;
}
@keyframes fall-136 {
  47.52% {
    transform: translate(70.1375vw, 47.52vh) scale(0.5319);
  }
  to {
    transform: translate(74.79435vw, 100vh) scale(0.5319);
  }
}
.snow:nth-child(137) {
  opacity: 0.2219;
  transform: translate(73.9021vw, -10px) scale(0.5363);
  animation: fall-137 20s -28s linear infinite;
}
@keyframes fall-137 {
  53.6% {
    transform: translate(73.9894vw, 53.6vh) scale(0.5363);
  }
  to {
    transform: translate(73.94575vw, 100vh) scale(0.5363);
  }
}
.snow:nth-child(138) {
  opacity: 0.6698;
  transform: translate(70.9171vw, -10px) scale(0.5165);
  animation: fall-138 15s -28s linear infinite;
}
@keyframes fall-138 {
  57.839% {
    transform: translate(70.2275vw, 57.839vh) scale(0.5165);
  }
  to {
    transform: translate(70.5723vw, 100vh) scale(0.5165);
  }
}
.snow:nth-child(139) {
  opacity: 0.9006;
  transform: translate(93.4278vw, -10px) scale(0.4206);
  animation: fall-139 10s -27s linear infinite;
}
@keyframes fall-139 {
  34.541% {
    transform: translate(99.9426vw, 34.541vh) scale(0.4206);
  }
  to {
    transform: translate(96.6852vw, 100vh) scale(0.4206);
  }
}
.snow:nth-child(140) {
  opacity: 0.189;
  transform: translate(98.6672vw, -10px) scale(0.5589);
  animation: fall-140 29s -14s linear infinite;
}
@keyframes fall-140 {
  36.709% {
    transform: translate(101.2967vw, 36.709vh) scale(0.5589);
  }
  to {
    transform: translate(99.98195vw, 100vh) scale(0.5589);
  }
}
.snow:nth-child(141) {
  opacity: 0.0869;
  transform: translate(74.3899vw, -10px) scale(0.1657);
  animation: fall-141 13s -4s linear infinite;
}
@keyframes fall-141 {
  37.117% {
    transform: translate(73.1259vw, 37.117vh) scale(0.1657);
  }
  to {
    transform: translate(73.7579vw, 100vh) scale(0.1657);
  }
}
.snow:nth-child(142) {
  opacity: 0.3995;
  transform: translate(54.5152vw, -10px) scale(0.3387);
  animation: fall-142 18s -18s linear infinite;
}
@keyframes fall-142 {
  34.01% {
    transform: translate(54.8408vw, 34.01vh) scale(0.3387);
  }
  to {
    transform: translate(54.678vw, 100vh) scale(0.3387);
  }
}
.snow:nth-child(143) {
  opacity: 0.7009;
  transform: translate(29.5994vw, -10px) scale(0.2245);
  animation: fall-143 18s -29s linear infinite;
}
@keyframes fall-143 {
  38.384% {
    transform: translate(27.6644vw, 38.384vh) scale(0.2245);
  }
  to {
    transform: translate(28.6319vw, 100vh) scale(0.2245);
  }
}
.snow:nth-child(144) {
  opacity: 0.094;
  transform: translate(85.5622vw, -10px) scale(0.2907);
  animation: fall-144 11s -8s linear infinite;
}
@keyframes fall-144 {
  75.802% {
    transform: translate(84.4105vw, 75.802vh) scale(0.2907);
  }
  to {
    transform: translate(84.98635vw, 100vh) scale(0.2907);
  }
}
.snow:nth-child(145) {
  opacity: 0.3356;
  transform: translate(73.4699vw, -10px) scale(0.6355);
  animation: fall-145 22s -29s linear infinite;
}
@keyframes fall-145 {
  75.809% {
    transform: translate(76.1289vw, 75.809vh) scale(0.6355);
  }
  to {
    transform: translate(74.7994vw, 100vh) scale(0.6355);
  }
}
.snow:nth-child(146) {
  opacity: 0.7503;
  transform: translate(81.3082vw, -10px) scale(0.2019);
  animation: fall-146 15s -12s linear infinite;
}
@keyframes fall-146 {
  62.912% {
    transform: translate(85.2801vw, 62.912vh) scale(0.2019);
  }
  to {
    transform: translate(83.29415vw, 100vh) scale(0.2019);
  }
}
.snow:nth-child(147) {
  opacity: 0.3471;
  transform: translate(10.4847vw, -10px) scale(0.2863);
  animation: fall-147 21s -6s linear infinite;
}
@keyframes fall-147 {
  57.096% {
    transform: translate(2.6016vw, 57.096vh) scale(0.2863);
  }
  to {
    transform: translate(6.54315vw, 100vh) scale(0.2863);
  }
}
.snow:nth-child(148) {
  opacity: 0.9736;
  transform: translate(97.0246vw, -10px) scale(0.7177);
  animation: fall-148 25s -13s linear infinite;
}
@keyframes fall-148 {
  43.216% {
    transform: translate(103.2852vw, 43.216vh) scale(0.7177);
  }
  to {
    transform: translate(100.1549vw, 100vh) scale(0.7177);
  }
}
.snow:nth-child(149) {
  opacity: 0.5372;
  transform: translate(9.3542vw, -10px) scale(0.5703);
  animation: fall-149 27s -12s linear infinite;
}
@keyframes fall-149 {
  37.64% {
    transform: translate(-0.3832vw, 37.64vh) scale(0.5703);
  }
  to {
    transform: translate(4.4855vw, 100vh) scale(0.5703);
  }
}
.snow:nth-child(150) {
  opacity: 0.2054;
  transform: translate(13.5159vw, -10px) scale(0.8674);
  animation: fall-150 21s -9s linear infinite;
}
@keyframes fall-150 {
  69.727% {
    transform: translate(10.7021vw, 69.727vh) scale(0.8674);
  }
  to {
    transform: translate(12.109vw, 100vh) scale(0.8674);
  }
}
.snow:nth-child(151) {
  opacity: 0.8564;
  transform: translate(22.5658vw, -10px) scale(0.0636);
  animation: fall-151 30s -5s linear infinite;
}
@keyframes fall-151 {
  63.86% {
    transform: translate(27.9712vw, 63.86vh) scale(0.0636);
  }
  to {
    transform: translate(25.2685vw, 100vh) scale(0.0636);
  }
}
.snow:nth-child(152) {
  opacity: 0.1717;
  transform: translate(48.3613vw, -10px) scale(0.9572);
  animation: fall-152 27s -10s linear infinite;
}
@keyframes fall-152 {
  55.402% {
    transform: translate(42.05vw, 55.402vh) scale(0.9572);
  }
  to {
    transform: translate(45.20565vw, 100vh) scale(0.9572);
  }
}
.snow:nth-child(153) {
  opacity: 0.7185;
  transform: translate(59.8479vw, -10px) scale(0.4287);
  animation: fall-153 12s -24s linear infinite;
}
@keyframes fall-153 {
  55.594% {
    transform: translate(63.1074vw, 55.594vh) scale(0.4287);
  }
  to {
    transform: translate(61.47765vw, 100vh) scale(0.4287);
  }
}
.snow:nth-child(154) {
  opacity: 0.0644;
  transform: translate(75.6305vw, -10px) scale(0.9203);
  animation: fall-154 20s -18s linear infinite;
}
@keyframes fall-154 {
  61.16% {
    transform: translate(79.6425vw, 61.16vh) scale(0.9203);
  }
  to {
    transform: translate(77.6365vw, 100vh) scale(0.9203);
  }
}
.snow:nth-child(155) {
  opacity: 0.0138;
  transform: translate(84.0439vw, -10px) scale(0.8774);
  animation: fall-155 10s -22s linear infinite;
}
@keyframes fall-155 {
  39.7% {
    transform: translate(78.1052vw, 39.7vh) scale(0.8774);
  }
  to {
    transform: translate(81.07455vw, 100vh) scale(0.8774);
  }
}
.snow:nth-child(156) {
  opacity: 0.3321;
  transform: translate(61.4537vw, -10px) scale(0.7529);
  animation: fall-156 27s -26s linear infinite;
}
@keyframes fall-156 {
  56.886% {
    transform: translate(52.2367vw, 56.886vh) scale(0.7529);
  }
  to {
    transform: translate(56.8452vw, 100vh) scale(0.7529);
  }
}
.snow:nth-child(157) {
  opacity: 0.1785;
  transform: translate(26.5692vw, -10px) scale(0.05);
  animation: fall-157 26s -5s linear infinite;
}
@keyframes fall-157 {
  31.025% {
    transform: translate(18.2985vw, 31.025vh) scale(0.05);
  }
  to {
    transform: translate(22.43385vw, 100vh) scale(0.05);
  }
}
.snow:nth-child(158) {
  opacity: 0.9768;
  transform: translate(87.823vw, -10px) scale(0.4755);
  animation: fall-158 22s -12s linear infinite;
}
@keyframes fall-158 {
  34.695% {
    transform: translate(97.0595vw, 34.695vh) scale(0.4755);
  }
  to {
    transform: translate(92.44125vw, 100vh) scale(0.4755);
  }
}
.snow:nth-child(159) {
  opacity: 0.8792;
  transform: translate(39.0628vw, -10px) scale(0.8578);
  animation: fall-159 16s -26s linear infinite;
}
@keyframes fall-159 {
  49.78% {
    transform: translate(36.719vw, 49.78vh) scale(0.8578);
  }
  to {
    transform: translate(37.8909vw, 100vh) scale(0.8578);
  }
}
.snow:nth-child(160) {
  opacity: 0.6899;
  transform: translate(82.3603vw, -10px) scale(0.4237);
  animation: fall-160 28s -3s linear infinite;
}
@keyframes fall-160 {
  44.865% {
    transform: translate(86.1103vw, 44.865vh) scale(0.4237);
  }
  to {
    transform: translate(84.2353vw, 100vh) scale(0.4237);
  }
}
.snow:nth-child(161) {
  opacity: 0.1341;
  transform: translate(8.9188vw, -10px) scale(0.3115);
  animation: fall-161 11s -26s linear infinite;
}
@keyframes fall-161 {
  35.398% {
    transform: translate(13.6814vw, 35.398vh) scale(0.3115);
  }
  to {
    transform: translate(11.3001vw, 100vh) scale(0.3115);
  }
}
.snow:nth-child(162) {
  opacity: 0.9601;
  transform: translate(72.7511vw, -10px) scale(0.1384);
  animation: fall-162 11s -24s linear infinite;
}
@keyframes fall-162 {
  64.092% {
    transform: translate(77.1763vw, 64.092vh) scale(0.1384);
  }
  to {
    transform: translate(74.9637vw, 100vh) scale(0.1384);
  }
}
.snow:nth-child(163) {
  opacity: 0.4594;
  transform: translate(87.9002vw, -10px) scale(0.1416);
  animation: fall-163 26s -30s linear infinite;
}
@keyframes fall-163 {
  57.635% {
    transform: translate(81.2969vw, 57.635vh) scale(0.1416);
  }
  to {
    transform: translate(84.59855vw, 100vh) scale(0.1416);
  }
}
.snow:nth-child(164) {
  opacity: 0.6868;
  transform: translate(33.6231vw, -10px) scale(0.4724);
  animation: fall-164 13s -13s linear infinite;
}
@keyframes fall-164 {
  71.387% {
    transform: translate(36.4832vw, 71.387vh) scale(0.4724);
  }
  to {
    transform: translate(35.05315vw, 100vh) scale(0.4724);
  }
}
.snow:nth-child(165) {
  opacity: 0.831;
  transform: translate(48.2267vw, -10px) scale(0.1468);
  animation: fall-165 21s -30s linear infinite;
}
@keyframes fall-165 {
  41.612% {
    transform: translate(49.3055vw, 41.612vh) scale(0.1468);
  }
  to {
    transform: translate(48.7661vw, 100vh) scale(0.1468);
  }
}
.snow:nth-child(166) {
  opacity: 0.9106;
  transform: translate(95.558vw, -10px) scale(0.3566);
  animation: fall-166 21s -14s linear infinite;
}
@keyframes fall-166 {
  43.518% {
    transform: translate(104.283vw, 43.518vh) scale(0.3566);
  }
  to {
    transform: translate(99.9205vw, 100vh) scale(0.3566);
  }
}
.snow:nth-child(167) {
  opacity: 0.1145;
  transform: translate(99.1906vw, -10px) scale(0.5438);
  animation: fall-167 24s -21s linear infinite;
}
@keyframes fall-167 {
  73.593% {
    transform: translate(97.5496vw, 73.593vh) scale(0.5438);
  }
  to {
    transform: translate(98.3701vw, 100vh) scale(0.5438);
  }
}
.snow:nth-child(168) {
  opacity: 0.7022;
  transform: translate(48.0362vw, -10px) scale(0.428);
  animation: fall-168 22s -9s linear infinite;
}
@keyframes fall-168 {
  55.554% {
    transform: translate(45.3142vw, 55.554vh) scale(0.428);
  }
  to {
    transform: translate(46.6752vw, 100vh) scale(0.428);
  }
}
.snow:nth-child(169) {
  opacity: 0.695;
  transform: translate(42.7791vw, -10px) scale(0.8764);
  animation: fall-169 23s -13s linear infinite;
}
@keyframes fall-169 {
  77.941% {
    transform: translate(35.1922vw, 77.941vh) scale(0.8764);
  }
  to {
    transform: translate(38.98565vw, 100vh) scale(0.8764);
  }
}
.snow:nth-child(170) {
  opacity: 0.9463;
  transform: translate(31.4337vw, -10px) scale(0.4462);
  animation: fall-170 17s -4s linear infinite;
}
@keyframes fall-170 {
  59.504% {
    transform: translate(24.104vw, 59.504vh) scale(0.4462);
  }
  to {
    transform: translate(27.76885vw, 100vh) scale(0.4462);
  }
}
.snow:nth-child(171) {
  opacity: 0.8931;
  transform: translate(97.7776vw, -10px) scale(0.4506);
  animation: fall-171 23s -16s linear infinite;
}
@keyframes fall-171 {
  50.282% {
    transform: translate(92.5984vw, 50.282vh) scale(0.4506);
  }
  to {
    transform: translate(95.188vw, 100vh) scale(0.4506);
  }
}
.snow:nth-child(172) {
  opacity: 0.3652;
  transform: translate(45.576vw, -10px) scale(0.2924);
  animation: fall-172 30s -18s linear infinite;
}
@keyframes fall-172 {
  73.496% {
    transform: translate(47.4555vw, 73.496vh) scale(0.2924);
  }
  to {
    transform: translate(46.51575vw, 100vh) scale(0.2924);
  }
}
.snow:nth-child(173) {
  opacity: 0.9283;
  transform: translate(9.1359vw, -10px) scale(0.9449);
  animation: fall-173 29s -4s linear infinite;
}
@keyframes fall-173 {
  34.971% {
    transform: translate(14.0543vw, 34.971vh) scale(0.9449);
  }
  to {
    transform: translate(11.5951vw, 100vh) scale(0.9449);
  }
}
.snow:nth-child(174) {
  opacity: 0.4594;
  transform: translate(35.4787vw, -10px) scale(0.7483);
  animation: fall-174 14s -8s linear infinite;
}
@keyframes fall-174 {
  62.141% {
    transform: translate(44.4597vw, 62.141vh) scale(0.7483);
  }
  to {
    transform: translate(39.9692vw, 100vh) scale(0.7483);
  }
}
.snow:nth-child(175) {
  opacity: 0.9029;
  transform: translate(76.0104vw, -10px) scale(0.7496);
  animation: fall-175 23s -18s linear infinite;
}
@keyframes fall-175 {
  71.995% {
    transform: translate(82.8155vw, 71.995vh) scale(0.7496);
  }
  to {
    transform: translate(79.41295vw, 100vh) scale(0.7496);
  }
}
.snow:nth-child(176) {
  opacity: 0.6373;
  transform: translate(78.9354vw, -10px) scale(0.1578);
  animation: fall-176 21s -16s linear infinite;
}
@keyframes fall-176 {
  30.776% {
    transform: translate(73.349vw, 30.776vh) scale(0.1578);
  }
  to {
    transform: translate(76.1422vw, 100vh) scale(0.1578);
  }
}
.snow:nth-child(177) {
  opacity: 0.3177;
  transform: translate(62.067vw, -10px) scale(0.199);
  animation: fall-177 28s -8s linear infinite;
}
@keyframes fall-177 {
  37.301% {
    transform: translate(71.0953vw, 37.301vh) scale(0.199);
  }
  to {
    transform: translate(66.58115vw, 100vh) scale(0.199);
  }
}
.snow:nth-child(178) {
  opacity: 0.3087;
  transform: translate(98.9356vw, -10px) scale(0.9436);
  animation: fall-178 19s -18s linear infinite;
}
@keyframes fall-178 {
  76.057% {
    transform: translate(91.5332vw, 76.057vh) scale(0.9436);
  }
  to {
    transform: translate(95.2344vw, 100vh) scale(0.9436);
  }
}
.snow:nth-child(179) {
  opacity: 0.5713;
  transform: translate(21.2604vw, -10px) scale(0.467);
  animation: fall-179 21s -30s linear infinite;
}
@keyframes fall-179 {
  69.283% {
    transform: translate(30.71vw, 69.283vh) scale(0.467);
  }
  to {
    transform: translate(25.9852vw, 100vh) scale(0.467);
  }
}
.snow:nth-child(180) {
  opacity: 0.3138;
  transform: translate(19.7016vw, -10px) scale(0.185);
  animation: fall-180 20s -24s linear infinite;
}
@keyframes fall-180 {
  49.342% {
    transform: translate(13.9835vw, 49.342vh) scale(0.185);
  }
  to {
    transform: translate(16.84255vw, 100vh) scale(0.185);
  }
}
.snow:nth-child(181) {
  opacity: 0.6416;
  transform: translate(20.4738vw, -10px) scale(0.2679);
  animation: fall-181 13s -19s linear infinite;
}
@keyframes fall-181 {
  31.445% {
    transform: translate(22.1264vw, 31.445vh) scale(0.2679);
  }
  to {
    transform: translate(21.3001vw, 100vh) scale(0.2679);
  }
}
.snow:nth-child(182) {
  opacity: 0.0215;
  transform: translate(75.576vw, -10px) scale(0.6486);
  animation: fall-182 30s -17s linear infinite;
}
@keyframes fall-182 {
  78.924% {
    transform: translate(71.0575vw, 78.924vh) scale(0.6486);
  }
  to {
    transform: translate(73.31675vw, 100vh) scale(0.6486);
  }
}
.snow:nth-child(183) {
  opacity: 0.1015;
  transform: translate(80.878vw, -10px) scale(0.5923);
  animation: fall-183 28s -12s linear infinite;
}
@keyframes fall-183 {
  79.559% {
    transform: translate(82.8965vw, 79.559vh) scale(0.5923);
  }
  to {
    transform: translate(81.88725vw, 100vh) scale(0.5923);
  }
}
.snow:nth-child(184) {
  opacity: 0.1967;
  transform: translate(58.7851vw, -10px) scale(0.9262);
  animation: fall-184 23s -21s linear infinite;
}
@keyframes fall-184 {
  78.4% {
    transform: translate(59.7782vw, 78.4vh) scale(0.9262);
  }
  to {
    transform: translate(59.28165vw, 100vh) scale(0.9262);
  }
}
.snow:nth-child(185) {
  opacity: 0.3598;
  transform: translate(44.9696vw, -10px) scale(0.3087);
  animation: fall-185 10s -27s linear infinite;
}
@keyframes fall-185 {
  59.474% {
    transform: translate(39.9845vw, 59.474vh) scale(0.3087);
  }
  to {
    transform: translate(42.47705vw, 100vh) scale(0.3087);
  }
}
.snow:nth-child(186) {
  opacity: 0.9021;
  transform: translate(95.2222vw, -10px) scale(0.2677);
  animation: fall-186 15s -14s linear infinite;
}
@keyframes fall-186 {
  55.779% {
    transform: translate(98.6393vw, 55.779vh) scale(0.2677);
  }
  to {
    transform: translate(96.93075vw, 100vh) scale(0.2677);
  }
}
.snow:nth-child(187) {
  opacity: 0.3062;
  transform: translate(54.779vw, -10px) scale(0.6099);
  animation: fall-187 21s -23s linear infinite;
}
@keyframes fall-187 {
  71.902% {
    transform: translate(58.0064vw, 71.902vh) scale(0.6099);
  }
  to {
    transform: translate(56.3927vw, 100vh) scale(0.6099);
  }
}
.snow:nth-child(188) {
  opacity: 0.4749;
  transform: translate(3.0548vw, -10px) scale(0.0582);
  animation: fall-188 10s -25s linear infinite;
}
@keyframes fall-188 {
  36.447% {
    transform: translate(-2.1858vw, 36.447vh) scale(0.0582);
  }
  to {
    transform: translate(0.4345vw, 100vh) scale(0.0582);
  }
}
.snow:nth-child(189) {
  opacity: 0.9883;
  transform: translate(19.4036vw, -10px) scale(0.0651);
  animation: fall-189 12s -18s linear infinite;
}
@keyframes fall-189 {
  37.054% {
    transform: translate(29.1572vw, 37.054vh) scale(0.0651);
  }
  to {
    transform: translate(24.2804vw, 100vh) scale(0.0651);
  }
}
.snow:nth-child(190) {
  opacity: 0.7359;
  transform: translate(40.9716vw, -10px) scale(0.8049);
  animation: fall-190 20s -2s linear infinite;
}
@keyframes fall-190 {
  33.456% {
    transform: translate(49.4955vw, 33.456vh) scale(0.8049);
  }
  to {
    transform: translate(45.23355vw, 100vh) scale(0.8049);
  }
}
.snow:nth-child(191) {
  opacity: 0.8542;
  transform: translate(69.4257vw, -10px) scale(0.3737);
  animation: fall-191 23s -15s linear infinite;
}
@keyframes fall-191 {
  76.221% {
    transform: translate(72.9359vw, 76.221vh) scale(0.3737);
  }
  to {
    transform: translate(71.1808vw, 100vh) scale(0.3737);
  }
}
.snow:nth-child(192) {
  opacity: 0.5594;
  transform: translate(29.5363vw, -10px) scale(0.5154);
  animation: fall-192 20s -28s linear infinite;
}
@keyframes fall-192 {
  66.029% {
    transform: translate(27.5252vw, 66.029vh) scale(0.5154);
  }
  to {
    transform: translate(28.53075vw, 100vh) scale(0.5154);
  }
}
.snow:nth-child(193) {
  opacity: 0.4932;
  transform: translate(83.7806vw, -10px) scale(0.3802);
  animation: fall-193 23s -12s linear infinite;
}
@keyframes fall-193 {
  67.592% {
    transform: translate(93.7349vw, 67.592vh) scale(0.3802);
  }
  to {
    transform: translate(88.75775vw, 100vh) scale(0.3802);
  }
}
.snow:nth-child(194) {
  opacity: 0.2557;
  transform: translate(33.2828vw, -10px) scale(0.9646);
  animation: fall-194 27s -20s linear infinite;
}
@keyframes fall-194 {
  50.069% {
    transform: translate(31.8044vw, 50.069vh) scale(0.9646);
  }
  to {
    transform: translate(32.5436vw, 100vh) scale(0.9646);
  }
}
.snow:nth-child(195) {
  opacity: 0.8525;
  transform: translate(68.2285vw, -10px) scale(0.0217);
  animation: fall-195 25s -22s linear infinite;
}
@keyframes fall-195 {
  66.798% {
    transform: translate(63.8909vw, 66.798vh) scale(0.0217);
  }
  to {
    transform: translate(66.0597vw, 100vh) scale(0.0217);
  }
}
.snow:nth-child(196) {
  opacity: 0.1719;
  transform: translate(38.9746vw, -10px) scale(0.4112);
  animation: fall-196 18s -6s linear infinite;
}
@keyframes fall-196 {
  31.471% {
    transform: translate(38.5478vw, 31.471vh) scale(0.4112);
  }
  to {
    transform: translate(38.7612vw, 100vh) scale(0.4112);
  }
}
.snow:nth-child(197) {
  opacity: 0.9813;
  transform: translate(76.9528vw, -10px) scale(0.334);
  animation: fall-197 17s -3s linear infinite;
}
@keyframes fall-197 {
  57.803% {
    transform: translate(81.5927vw, 57.803vh) scale(0.334);
  }
  to {
    transform: translate(79.27275vw, 100vh) scale(0.334);
  }
}
.snow:nth-child(198) {
  opacity: 0.9406;
  transform: translate(92.6898vw, -10px) scale(0.089);
  animation: fall-198 20s -26s linear infinite;
}
@keyframes fall-198 {
  64.831% {
    transform: translate(93.649vw, 64.831vh) scale(0.089);
  }
  to {
    transform: translate(93.1694vw, 100vh) scale(0.089);
  }
}
.snow:nth-child(199) {
  opacity: 0.9877;
  transform: translate(56.8138vw, -10px) scale(0.8376);
  animation: fall-199 16s -17s linear infinite;
}
@keyframes fall-199 {
  64.305% {
    transform: translate(56.0303vw, 64.305vh) scale(0.8376);
  }
  to {
    transform: translate(56.42205vw, 100vh) scale(0.8376);
  }
}
.snow:nth-child(200) {
  opacity: 0.2882;
  transform: translate(13.5342vw, -10px) scale(0.827);
  animation: fall-200 30s -16s linear infinite;
}
@keyframes fall-200 {
  36.357% {
    transform: translate(13.3272vw, 36.357vh) scale(0.827);
  }
  to {
    transform: translate(13.4307vw, 100vh) scale(0.827);
  }
}
